@import url("./global.css");

html,
body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--font-family);
  background-color: var(--bg);
  color: var(--text-primary);
  transition: var(--tran-04);
}

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-primary);
  border-radius: 30px;
  padding: 1.25rem;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.56rem;
  font-weight: 600;
  color: var(--text-primary);
  padding: 0.625rem;
  user-select: none;
}
.header .today {
  font-size: medium;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.month {
  padding: 0.3125rem 0.625rem;
  border-radius: 0.625rem;
  cursor: pointer;
}

.header .today:hover,
.month:hover {
  background-color: var(--blue-hover);
  color: var(--white);
}

.year {
  display: flex;
  align-items: center;
}

.change {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 0.625rem;
  cursor: pointer;
}
.change:hover {
  background-color: var(--blue-hover);
  color: var(--white);
}

.body {
  padding: 0.625rem;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  height: 3.125rem;
}

.weekdays div {
  display: grid;
  place-items: center;
  color: var(--text-secondary);
}

.days {
  display: grid;
  min-height: 258px;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--text-primary);
}

.days div {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  transition: filter 0.2s ease-in-out;
}

.days div.today {
  background: var(--blue-500);
  color: var(--white);
}

.days div.date:not(.today):hover {
  filter: brightness(0.6);
  background: var(--bg-third);
}

.footer {
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  width: 3rem;
  height: 1.56225rem;
  border-radius: 0.875rem;
  background: var(--text-secondary);
  cursor: pointer;
}

.switch-indent {
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 50%;
  background: var(--bg-secondary);
  position: absolute;
  top: 2px;
  left: calc(2px + 50%);
  transition: left 0.2s ease-in-out;
}

.active.switch-indent {
  top: 2px;
  left: 3px;
}

.months {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  padding: 1.25rem;
  color: var(--text-primary);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.months.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.months div {
  display: grid;
  place-items: center;
}

.months > div > div {
  width: 100%;
  height: 100%;
  padding: 5px 1.25rem;
  border-radius: 0.625rem;
  text-align: center;
  cursor: pointer;
  transition: background ease-in-out 0.2s;
}

.months > div > div:hover {
  background: var(--blue-hover);
  color: var(--white);
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
