* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  background: #efc076;
}

.container-slider {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff, 0 15px 50px;
  position: relative;
}
.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}
.slider__section {
  width: 100%;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fffc;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.slider__btn:hover {
  background-color: #fff;
}
.slider__btn--left {
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
