@import url("./global.css");

body {
  display: flex;
  min-height: 100vh;
  background: var(--yellow);
  font-family: var(--font-family);
}

.container-slider {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 10px var(--white), 0 15px 50px;
  position: relative;
}
.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}
.slider__section {
  width: 100%;
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--gray-300);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__btn:hover {
  background: var(--gray-50);
}
.slider__btn--left {
  left: 10px;
}
.slider__btn--right {
  right: 10px;
}
