@import url("./global.css");

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-primary);
  transition: var(--tran-03);
  font-size: 1rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
}

.sidebar {
  width: 16rem;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--bg-third);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow-y: auto;
}
.user-content {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 5rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  cursor: pointer;
}
.user-content:hover {
  background: var(--bg-primary);
  border: 1px solid var(--gray-300);
  color: var(--text-secondary);
}
.user-content:hover .user-edit {
  opacity: 1;
}
.user-edit {
  opacity: 0;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  transition: var(--tran-05);
  color: var(--blue-200);
}
.user-img {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background: var(--bg-primary);
  overflow: hidden;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-items {
  flex: 1;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.menu-items .item,
.switch-theme {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.62rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  font-weight: 400;
  cursor: pointer;
  transition: var(--tran-03);
}
.item i {
  font-size: larger;
}

.menu-items .item:hover,
.menu-items .item.active,
.switch-theme:hover {
  background: var(--bg-primary);
  border: 1px solid var(--gray-300);
}

.switch-theme {
  justify-content: space-between;
}

.switch-theme .sun,
.dark .switch-theme .moon {
  display: none;
}
.switch-theme .moon,
.dark .switch-theme .sun {
  display: inline;
}

/* MAIN CONTENT FILTER TABLE */

.main-content {
  position: relative;
  flex: 1;
  max-width: calc(100% - 16rem);
  padding: 1.5rem;
}

.filter-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1.2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-300);
  color: var(--gray-400);
  font-weight: lighter;
}

.filter-input input,
.filter-input select {
  border: none;
  background: transparent;
  outline: none;
  color: var(--text-primary);
}

.filter-input input {
  flex: 1;
}

.table {
  max-width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  min-width: 30rem;
  border-spacing: 0 0.5rem;
}
thead th {
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 1rem;
}
tbody tr:hover {
  background: var(--bg-third);
  cursor: pointer;
}
tbody td {
  font-size: medium;
  padding: 0.62rem;
}
tbody td:first-child {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
tbody td:last-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.float-button-add {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: var(--blue-600);
  color: var(--white);
  font-weight: lighter;
  font-size: x-large;
  cursor: pointer;
}
