* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(240, 239, 243);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 375px;
  height: 520px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
  padding: 20px;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.container form {
  width: 100%;
  border: 1px solid rgb(82, 74, 235);
  border-radius: 4px;

  display: flex;
  align-items: center;
}

.container form input {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
}

.container form i {
  padding-left: 10px;
}
.container form svg {
  width: 15px;
}

.product-list {
  padding: 20px 0;
}

.product {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 15px;
}

.product img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.product .p-details {
  padding-left: 15px;
}

.product .p-details h2 {
  font-size: 20px;
  color: #1d1d1d;
}

.product .p-details h3 {
  font-size: 18px;
}
