@import url("../fonts/css/all.css");
:root {
  --font-family: "Roboto", "Poppins", sans-serif;

  --text-primary: #121418;
  --text-secondary: #3d3e42;
  --bg: #c0c0c0;
  --bg-primary: #ffffff;
  --bg-secondary: #f0f0f0;
  --bg-third: #e2e2e2;
  --bg-trasparent: rgba(255, 255, 255, 0.78);
  --transparent: rgba(0, 0, 0, 0.2);

  /* DON't Change! */
  --shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  --white: #fff;

  --blue-200: #26a8fe;
  --blue-500: #5274f9;
  --blue-600: #0202f5;
  --blue-hover: #323048;
  --blueviolet-500: blueviolet;

  --green-300: #45cdbf;
  --green-500: #2da30f;

  --yellow: #efc076;
  --yellow-300: #efc076;
  --yellow-400: #f0bb00;
  --yellow-500: #ffff00;

  --orange-500: #ff9100;

  --red-50: #f5eaea;
  --red-500: #eb6666;
  --red-600: #ef6081;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

.dark:root {
  --text-primary: #fff;
  --text-secondary: #c4c4cc;
  --bg: #0d0d0e;
  --bg-primary: #111827;
  --bg-secondary: #2e2d33;
  --bg-third: #222222;
  --bg-trasparent: rgba(0, 0, 0, 0.7);
  --transparent: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  background: var(--bg-primary);
  font-family: var(--font-family);
  color: var(--text-primary);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.2rem;
  outline: none;
}
a {
  color: inherit;
}

.control-form label {
  font-weight: bold;
  margin-right: 0.75rem;
}
.control-form input,
textarea,
select {
  background: transparent;
  border: 1px solid var(--bg);
  font-size: medium;
  margin-bottom: 0.65rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
  outline: none;
  resize: none;
  color: var(--text-secondary);
}

.goToHome {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-third);
  color: var(--text-secondary);
}

.goToHome a {
  padding: 0.5rem;
  font-size: 1rem;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-trasparent);
  z-index: 99;
}

.modal-overlay.open {
  display: flex;
}

.modal-overlay .modal-close {
  height: 2.375rem;
  width: 2.375rem;
  padding: 0.6rem;
  margin: 2rem auto;
  border-radius: 100px;
  box-shadow: var(--shadow);
  background: transparent;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}

.modal-overlay .modal-content {
  max-width: 100%;
  width: max-content;
  height: max-content;
  margin: 0 auto;
  padding: 0.62rem;
  border: 1px solid var(--gray-100);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background: var(--bg-primary);
  transition: var(--tran-05);
  overflow: hidden;
}
