@import url("./global.css");

.mainHome .container {
  width: 525px;
  padding: 10px;
  margin: 40px auto 0;
}

.mainHome h1 {
  margin-bottom: 1.75rem;
  text-align: center;
  color: var(--blueviolet-500);
}

.mainHome .hashtag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.mainHome .hashtag a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 7rem;
  border: 1px solid var(--bg);
  border-radius: 1rem;
  color: var(--blue-500);
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
}

.mainHome .hashtag a:hover {
  filter: brightness(0.2);
}
