@import url("./global.css");

body {
  background: var(--gray-50);
}

.main-content {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
}

.text-editor-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-300);
  padding: 0.3rem;
}

.text-editor-header .btn {
  border: none;
  outline: none;
  background: var(--gray-500);
  padding: 0.32rem;
  margin-right: 5px;
  cursor: pointer;
  color: var(--gray-100);
}

.content {
  background: var(--yellow);
  min-height: 200px;
  border: 1px solid var(--gray-100);
  border-top: 0px;
  padding: 20px;
  outline: none;
}
