@import url("./global.css");

.grid {
  display: grid;
  width: 100vw;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;

  grid-template-areas:
    " header header "
    "aside content ";
  grid-template-columns: 210px 1fr;
  grid-template-rows: 65px 1fr;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  background: var(--gray-100);
  box-shadow: 0 2px 2px var(--gray-200);
  z-index: 9;
}
.logo {
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background: var(--white);
  color: var(--red-600);
  user-select: none;
}
.btn {
  background: var(--gray-900);
  color: var(--white);
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.3rem;
  align-items: stretch;
  gap: 0.5rem;
  background: var(--gray-100);
}
.aside .sticky-item {
  width: 100%;
  box-shadow: 0 0 0.5rem var(--gray-300);
}
.aside .sticky-header {
  padding: 0.5rem;
}
.aside .sticky-body,
.aside .sticky-footer {
  display: none;
}

.content {
  grid-area: content;
  padding: 0.5rem;
  background: var(--red-50);
}

.sticky-item {
  width: max-content;
  max-width: 200px;
  min-width: 150px;
  border: 1px solid var(--gray-300);
  background: var(--gray-200);
  box-shadow: 0 0 0.5rem var(--gray-300);
}
.sticky-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  background: var(--gray-300);
  font-size: small;
  cursor: grab;
}
.sticky-item.red .sticky-header {
  background: var(--red-500);
}
.sticky-item.orange .sticky-header {
  background: var(--orange-500);
}
.sticky-item.green .sticky-header {
  background: var(--green-500);
}
.sticky-item.yellow .sticky-header {
  background: var(--yellow-500);
}
.sticky-item.blue .sticky-header {
  background: var(--blue-500);
}
.sticky-header button {
  cursor: pointer;
}
.sticky-body {
  min-height: 100px;
  padding: 0.2rem;
  color: var(--text-secondary);
  font-size: 0.9rem;
  outline: none;
}
.sticky-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.2rem;
  background: var(--gray-300);
}

.sticky-btn {
  font-size: x-small;
  padding: 0.2rem;
}
