@import url("./global.css");

body {
  background: var(--bg);
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 100%;
  max-width: 360px;
  min-height: 630px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-primary);
  border-radius: 1.5rem;
  background: var(--bg-primary);
  overflow: hidden;
}

.todo .float {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  justify-content: space-around;

  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.65rem;
}

button.btn {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-size: x-large;
  cursor: pointer;
  transition: all ease-in 0.1s;
}
button.btn svg {
  width: 1.5rem;
}
button.btn:hover {
  filter: brightness(0.8);
}

.todo .header {
  height: 160px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: var(--text-primary);
}
.header .resume-cicle {
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid var(--green);
  border-radius: 50%;
}
.header .numbers-names {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: circle;
}
.header .numbers {
  display: flex;
  gap: 1.5rem;
  user-select: none;
}
.numbers .number {
  font-size: xx-large;
  font-weight: 700;
}
.dones {
  color: var(--green-500);
}
.process {
  color: var(--blue-200);
}
.backlog {
  color: var(--red-500);
}

.content-items {
  max-height: calc(630px - 160px);
  padding: 1.5rem;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0px -2px 16px var(--transparent);
  overflow: auto;
  color: var(--text-primary);
}
.content-items .todo-item {
  border: 1px solid var(--bg-secondary);
  padding: 0.4rem;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.todo-item:hover {
  border: 1px solid var(--transparent);
  transform: scale(1.1);
  border-radius: 0.4rem;
}
.todo-item .title {
  font-weight: bold;
  padding-bottom: 0.4rem;
  font-size: large;
}
.todo-item .todo-resume {
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
}
.todo-item .create-at {
  color: var(--text-secondary);
}

.modal-content .todo-preview {
  padding: 1rem;
}
.todo-preview .control-form {
  display: flex;
  flex-direction: column;
}

.content-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-resume {
  display: flex;
  justify-content: space-between;
}
