* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --text-primary: #22252d;
  --text-secondary: #262933;

  --bg: #c0c0c0;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f3f4;
  --bg-third: #f7f7f7;
  --bg-trasparent: rgba(255, 255, 255, 0.7);

  --transparent: rgba(0, 0, 0, 0.2);

  --red: #eb6666;
  --blue: #26a8fe;
  --green: #2da30f;
}

.darkMode:root {
  --text-primary: #fff;
  --text-secondary: #c4c4cc;

  --bg: #323232;
  --bg-primary: #22252d;
  --bg-secondary: #292d36;
  --bg-third: #262933;
  --bg-trasparent: rgba(0, 0, 0, 0.7);

  --transparent: rgba(0, 0, 0, 0.2);

  --red: #eb6666;
  --blue: #26a8fe;
  --green: #26fed7;
}
body {
  background: var(--bg);
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 100%;
  max-width: 360px;
  min-height: 630px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-primary);
  border-radius: 1.5rem;
  background-color: var(--bg-primary);
  overflow: hidden;
}

.todo .float {
  display: flex;
  align-content: center;
  justify-content: space-around;

  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.65rem;
}

button.btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: var(--bg-secondary);
  font-size: x-large;
  cursor: pointer;
  transition: all ease-in 0.1s;
}
button.btn:hover {
  filter: brightness(0.8);
}

.todo .header {
  height: 160px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  color: var(--text-primary);
}
.header .resume-cicle {
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid var(--green);
  border-radius: 50%;
}
.header .numbers {
  display: flex;
  gap: 1.5rem;
  user-select: none;
}
.numbers .number {
  font-size: xx-large;
  font-weight: 700;
}
.numbers .dones {
  color: var(--green);
}
.numbers .process {
  color: var(--blue);
}
.numbers .backlog {
  color: var(--red);
}

.content-items {
  max-height: calc(630px - 160px);
  padding: 1.5rem;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0px -2px 16px var(--transparent);
  background: var(--bg-secondary);
  overflow: auto;
}
.content-items .todo-item {
  padding: 0.4rem;
  user-select: none;
  cursor: pointer;
}
.todo-item:hover {
  box-shadow: 0px -2px 10px var(--transparent);
  border-radius: 0.4rem;
}
.todo-item .title {
  padding-bottom: 0.4rem;
  font-size: large;
}
.todo-item .todo-resume {
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: lighter;
}

/*modal component*/
.todo .modal-overlay {
  position: fixed;
  inset: 0;
  background: var(--bg-trasparent);

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 350px;

  max-width: 350px;
  min-height: 300px;
  box-shadow: 0 0 10px var(--transparent);
  background: var(--bg-primary);
  border-radius: 1rem;
}
