<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="../styles/calendar.css" />
  </head>
  <body>
    <main class="calendar">
      <div class="header">
        <span class="today" id="today">&#x1F4C6;</span>
        <span class="month" id="month"></span>

        <div class="year">
          <span class="change" id="prev">&#11013;</span>
          <span id="year"></span>
          <span class="change" id="next">&#10145;</span>
        </div>
      </div>

      <div class="body">
        <div class="weekdays"></div>
        <div class="days"></div>
      </div>

      <div class="footer">
        <div class="toggle">
          <span>En</span>
          <div class="switch lang">
            <div class="switch-indent"></div>
          </div>
          <span>Pt</span>
        </div>

        <div class="toggle">
          <span>Dark</span>
          <div class="switch theme">
            <div class="switch-indent"></div>
          </div>
        </div>
      </div>

      <div class="months"></div>
    </main>

    <div class="goToHome">
      <a href="../../index.html"> <i class="fas fa-home"></i></a>
    </div>

    <script src="../js/calendar.js"></script>
  </body>
</html>
