<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll Infinito</title>
    <link rel="stylesheet" href="../styles/carrousel.css" />
  </head>
  <body>
    <div class="container-slider">
      <div class="slider" id="slider">
        <div class="slider__section">
          <img
            src="../assets/image/imageOne.jpg"
            alt="imageOne"
            class="slider__img"
          />
        </div>
        <div class="slider__section">
          <img
            src="../assets/image/imageTwo.jpg"
            alt="imageTwo"
            class="slider__img"
          />
        </div>
        <div class="slider__section">
          <img
            src="../assets/image/imageThree.jpg"
            alt="imageThree"
            class="slider__img"
          />
        </div>
        <div class="slider__section">
          <img
            src="../assets/image/imageFour.jpg"
            alt="imageFour"
            class="slider__img"
          />
        </div>
      </div>
      <div class="slider__btn slider__btn--left" id="btn_left">&#60;</div>
      <div class="slider__btn slider__btn--right" id="btn_right">&#62;</div>
    </div>

    <script src="../js/carrousel.js"></script>
  </body>
</html>
