<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll Infinito</title>
    <link rel="stylesheet" href="../styles/carrousel.css" />
  </head>
  <body>
    <div class="container-slider">
      <div class="slider" id="slider"></div>
      <div class="slider__btn slider__btn--left" id="btn_left">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="slider__btn slider__btn--right" id="btn_right">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>

    <div class="goToHome">
      <a href="../../index.html"> <i class="fas fa-home"></i></a>
    </div>

    <script src="../js/carrousel.js"></script>
  </body>
</html>
