<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="static Dashboard" />
    <link rel="stylesheet" href="../fonts/css/all.css" />
    <link rel="stylesheet" href="../styles/dash.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <div class="topBar">
        <div class="imagotipo"></div>

        <div class="user-pic" onclick="toggleShowSubMenu()">
          <img src="img" alt="user" />
        </div>

        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <div class="user-info"></div>
            <hr />

            <div class="links"></div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <nav class="sidebar">
        <div class="toggle">
          <i>&gt;</i>
        </div>

        <div class="menu-bar">
          <div class="menu">
            <li class="search-box">
              <i class="icon fas fa-search"></i>
              <input type="search" placeholder="Search..." />
            </li>

            <ul class="items"></ul>
          </div>

          <di class="bottom-content">
            <li class="mode">
              <div class="moon-sun">
                <i class="icon moon fas fa-moon"></i>
                <i class="icon sun fas fa-sun"></i>
              </div>
              <span class="mode-text text">Dark Mode</span>

              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
          </di>
        </div>
      </nav>

      <section class="page-place">
        <h2 class="title">Dashboard</h2>
      </section>
    </main>

    <script src="../mock/dash.js"></script>
    <script src="../js/dash.js"></script>
  </body>
</html>
