<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="static Dashboard" />
    <link rel="stylesheet" href="../styles/dash.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <main class="main">
      <aside class="sidebar">
        <div class="user-content" onclick="handleEditUser()"></div>

        <ul class="menu-items"></ul>

        <div class="switch-theme" onclick="toggleTheme()"></div>
      </aside>

      <section class="main-content">
        <div class="filter-input">
          <i class="fas fa-search"></i>
          <input type="search" name="search" id="search" placeholder="Search" />

          <select name="type" id="type">
            <option value="last">Last Upload</option>
            <option value="firt">Firt Upload</option>
            <option value="name">Name</option>
            <option value="Size">Size</option>
          </select>
        </div>

        <div class="table">
          <table>
            <thead>
              <tr>
                <th>File Name</th>
                <th>Upload At</th>
                <th>Kind</th>
                <th>Size</th>
              </tr>
            </thead>

            <tbody></tbody>
          </table>
        </div>

        <button class="float-button-add" onclick="createNewUpload()">
          <i class="fas fa-plus"></i>
        </button>
      </section>

      <div class="modal-overlay">
        <div class="modal-close" onclick="closeModal()">
          <i class="fas fa-times"></i>
        </div>
        <div class="modal-content">
          Alguma coisa <br />
          <br />
          Contruida Aqui!
        </div>
      </div>
    </main>

    <div class="goToHome">
      <a href="../../index.html"> <i class="fas fa-home"></i></a>
    </div>

    <script src="../data/dash.js"></script>
    <script src="../js/dash.js"></script>
  </body>
</html>
