<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="static Dashboard" />
    <link rel="stylesheet" href="../fonts/css/all.css" />
    <link rel="stylesheet" href="../styles/dash.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <aside class="sidebar">
        <div class="user-content">
          <div class="user-img">
            <img src="https://github.com/EduardoPanzo.png" alt="user" />
          </div>
          <div class="user-info">
            <em>EduardoPanzo</em>
            <em>eduardo@email.com</em>
          </div>
        </div>

        <ul class="menu-items">
          <li class="item">
            <i class="fas fa-clock"></i>
            <span>Recent Files</span>
          </li>

          <li class="item">
            <i class="fas fa-clock"></i>
            <span>Recent Files</span>
          </li>

          <li class="item">
            <i class="fas fa-clock"></i>
            <span>Recent Files</span>
          </li>
        </ul>

        <div class="switch-theme">
          <div class="icon">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
          </div>

          <div class="text">
            <span class="moon">Dark</span>
            <span class="sun">Light</span>
          </div>
        </div>
      </aside>

      <section class="main-content">
        <div class="filter-input">
          <i class="fas fa-search"></i>
          <input type="search" name="search" id="search" />
        </div>

        <table>
          <thead>
            <tr>
              <th>File Name</th>
              <th>Upload At</th>
              <th>Kind</th>
              <th>Size</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>City</td>
              <td>Last Month</td>
              <td>PNG image</td>
              <td>156 KB</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <script src="../mock/dash.js"></script>
    <script src="../js/dash.js"></script>
  </body>
</html>
