<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kanban-App</title>
    <link rel="stylesheet" href="../styles/kanban.css" />
  </head>
  <body>
    <header>
      <h1>K<span>B</span></h1>

      <button onclick="openCreateBox()">
        <li class="fas fa-plus"></li>
        create
      </button>
    </header>
    <main>
      <div class="content"></div>
    </main>

    <div class="modal-overlay">
      <div class="modal-close" onclick="closeModal()">
        <i class="fas fa-times"></i>
      </div>
      <div class="modal-content"></div>
    </div>

    <div class="goToHome">
      <a href="../../index.html"> <i class="fas fa-home"></i></a>
    </div>

    <script src="../data/kanban.js"></script>
    <script src="../js/kanban.js"></script>
  </body>
</html>
