<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kanban-App</title>
    <link rel="stylesheet" href="../styles/kanban.css" />
    <link rel="stylesheet" href="../fonts/css/all.css" />
  </head>
  <body>
    <header>
      <h1>K<span>B</span></h1>
    </header>
    <main>
      <div class="content">
        <div class="box">
          <div class="box-header">
            <span>TODO</span>

            <i class="fas fa-ellipsis-v"></i>
          </div>

          <div class="box-content">
            <div class="item high" draggable="true">
              <div class="item-header">
                <span class="item-date">20/05/2023</span>

                <div class="item-level">HIGH</div>
              </div>
              <div class="item-content">
                <h3>Title</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
                  aliquid.
                </p>
              </div>
            </div>
          </div>

          <div class="box-add">
            <i class="fas fa-plus-circle"></i>
            Add Item
          </div>
        </div>

        <div class="box">
          <div class="box-header">
            <span>PROGRESS</span>

            <i class="fas fa-ellipsis-v"></i>
          </div>

          <div class="box-content">
            <div class="item medium" draggable="true">
              <div class="item-header">
                <span class="item-date">20/05/2023</span>

                <div class="item-level">MEDIUM</div>
              </div>
              <div class="item-content">
                <h3>Title</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
                  aliquid.
                </p>
              </div>
            </div>
          </div>

          <div class="box-add">
            <i class="fas fa-plus-circle"></i>
            Add Item
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
