<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rich Text Editor - EJP</title>
    <link rel="stylesheet" href="../styles/richText.css" />
    <link rel="stylesheet" href="../fonts/css/all.css" />
  </head>
  <body>
    <div class="main-content">
      <div class="text-editor-header" id="header"></div>

      <div class="content" contenteditable="true"></div>
    </div>

    <div class="goToHome">
      <a href="../../index.html"> <i class="fas fa-home"></i></a>
    </div>

    <script src="../js/richText.js"></script>
  </body>
</html>
