<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rich Text Editor - EJP</title>
    <link rel="stylesheet" href="../styles/richText.css" />
    <link rel="stylesheet" href="../fonts/css/all.css" />
  </head>
  <body>
    <div class="main-content">
      <div class="text-editor-header">
        <button class="btn" data-element="bold">
          <i class="fa fa-bold"></i>
        </button>

        <button class="btn" data-element="italic">
          <i class="fa fa-italic"></i>
        </button>

        <button class="btn" data-element="underline">
          <i class="fa fa-underline"></i>
        </button>

        <button class="btn" data-element="insertUnOrderedList">
          <i class="fa fa-list-ul"></i>
        </button>

        <button class="btn" data-element="insertOrderedList">
          <i class="fa fa-list-ol"></i>
        </button>

        <button class="btn" data-element="createLink">
          <i class="fa fa-link"></i>
        </button>

        <button class="btn" data-element="justifyLeft">
          <i class="fa fa-align-left"></i>
        </button>

        <button class="btn" data-element="justifyCenter">
          <i class="fa fa-align-center"></i>
        </button>

        <button class="btn" data-element="justifyRight">
          <i class="fa fa-align-right"></i>
        </button>

        <button class="btn" data-element="justifyFull">
          <i class="fa fa-align-justify"></i>
        </button>

        <button class="btn" data-element="insertImage">
          <i class="fa fa-image"></i>
        </button>
      </div>

      <div class="content" contenteditable="true"></div>
    </div>

    <script src="../js/richText.js"></script>
  </body>
</html>
