<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Screen Redording</title>
    <link rel="stylesheet" href="./../styles/screenRecording.css" />
  </head>
  <body>
    <main class="main">
      <div class="preview-container">
        <video controls autoplay class="preview" id="preview"></video>
      </div>
      <div class="action">
        <button class="btn btn-capture">Capture</button>
        <button class="btn btn-save">Download</button>
      </div>
    </main>
    <script src="./../js/screenRecording.js"></script>
  </body>
</html>
