<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/sideBar.css" />
    <title>sideBar</title>
  </head>
  <body>
    <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="logo.png" alt="logo" />
          </span>

          <div class="text header-text">
            <span class="name">CodingLab</span>
            <span class="profession">Web developer</span>
          </div>
        </div>

        <i class="toggle">&gt;</i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="icon">Sr</i>
            <input type="search" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Dashbord</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Revenue</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Notifications</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Analytics</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Likes</span>
              </a>
            </li>

            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Wallets</span>
              </a>
            </li>
          </ul>
        </div>

        <di class="bottom-content">
          <li class="">
            <a href="#">
              <i class="icon">Ot</i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="moon-sun">
              <i class="icon moon">M</i>
              <i class="icon sun">S</i>
            </div>
            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </di>
      </div>
    </nav>

    <script src="../js/sideBar.js"></script>
  </body>
</html>
