<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/sideBar.css" />
    <title>sideBar</title>
  </head>
  <body>
    <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="logo.png" alt="logo" />
          </span>

          <div class="text header-text">
            <span class="name">CodingLab</span>
            <span class="profession">Web developer</span>
          </div>
        </div>

        <i class="toggle">&gt;</i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="icon">Sr</i>
            <input type="search" placeholder="Search..." />
          </li>

          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="icon">HM</i>
                <span class="text nav-text">Dashbord</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
