<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sticky notes</title>
    <link rel="stylesheet" href="../styles/stickyNotes.css" />
    <link rel="stylesheet" href="../fonts/css/all.css" />
  </head>
  <body>
    <div class="grid">
      <header class="header">
        <h1 class="logo">SN</h1>

        <button class="btn" onclick="handleOpenCreateSticky()">
          <i class="fas fa-plus"></i>
          New Sticky
        </button>
      </header>
      <aside class="aside"></aside>
      <main class="content"></main>

      <div class="modal-overlay">
        <div class="modal-close" onclick="closeModal()">
          <i class="fas fa-times"></i>
        </div>
        <div class="modal-content"></div>
      </div>

      <div class="goToHome">
        <a href="../../index.html"> <i class="fas fa-home"></i></a>
      </div>
    </div>

    <script src="../data/sticky.js"></script>
    <script src="../js/stickyNotes.js"></script>
  </body>
</html>
