<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO-App</title>
    <link rel="stylesheet" href="../styles/todo.css" />
  </head>
  <body>
    <main class="todo">
      <div class="container">
        <div class="float" id="create">
          <button class="btn toggle-modal"></button>
          <button class="btn switch-theme"></button>
        </div>

        <div class="header">
          <ul class="numbers-names">
            <li class="dones">Dones</li>
            <li class="process">Progress</li>
            <li class="backlog">Not Done</li>
          </ul>
          <div class="numbers">
            <span class="number dones">7</span>
            <span class="number process">6</span>
            <span class="number backlog">4</span>
          </div>
        </div>

        <div class="content-items"></div>
      </div>

      <div class="modal-overlay">
        <div class="modal-close" onclick="closeModal()">
          <i class="fas fa-times"></i>
        </div>
        <div class="modal-content"></div>
      </div>
    </main>

    <div class="goToHome">
      <a href="../../index.html"> <i class="fas fa-home"></i></a>
    </div>

    <script src="../data/index.js"></script>
    <script src="../data/svg.js"></script>
    <script src="../js/todo.js"></script>
  </body>
</html>
