<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO-App</title>
    <link rel="stylesheet" href="../styles/todo.css" />
  </head>
  <body>
    <main class="todo">
      <div class="container">
        <div class="float" id="create">
          <button class="btn">+</button>
        </div>

        <div class="header">
          <div class="resume-cicle"></div>
          <div class="numbers">
            <span class="number dones">7</span>
            <span class="number process">6</span>
            <span class="number backlog">4</span>
          </div>
        </div>

        <div class="content-items">
          <div class="todo-item">
            <div class="title">Title</div>
            <div class="todo-resume">
              <span class="priority">High</span>
              <span class="staus">Done</span>
            </div>
            <p class="create-at">20-06-2020</p>
          </div>
        </div>
      </div>

      <div class="modal-overlay">
        <div class="modal-content">
          <form class="todo-preview">
            <div class="control-form">
              <label for="title">Title: </label>
              <input type="text" name="title" id="title" />
            </div>

            <div class="todo-resume">
              <select name="priority" id="priority">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
              </select>
              <select name="status" id="status">
                <option value="done">Done</option>
                <option value="process">Process</option>
                <option value="toDo">ToDo</option>
              </select>
            </div>

            <div class="control-form about">
              <label for="desc">About TODO</label>
              <textarea name="desc" id="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, voluptatum!</textarea
              >
            </div>

            <div class="control-form">
              <label>Create At</label>
              <input type="date" name="date" id="date" />
            </div>

            <button class="btn">+</button>
          </form>
        </div>
        <div class="float modal-close">
          <button class="btn">X</button>
        </div>
      </div>
    </main>

    <script src="../js/todo.js"></script>
  </body>
</html>

<!-- 
  model of modal: to update or delete
   -->
