*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 auto;
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #181818;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 600px;
    margin-bottom: 24px;
    color: #fff;
    font-size: xx-large;
    text-align: center;
}
.conatiner-input{
    max-width: 480px;
    margin: 14px 0;
}

.conatiner-input span{
    color: #fff;
    font-size: 22px;
}

.slider{
    appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 5px;
    margin-top: 8px;
    background: #dfdfdf;
    outline: none;

}
.button-cta{
    height: 40px;
    background-color: #3eb72b;
    border: 0;
    border-radius: 4px;
    margin-top: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}

.title{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: #0008;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #313131;
    transition: transform 0.5s;
}

.password:hover{
    transform: scale(1.05);
}

.tooltip{
    color: #fff;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgba(15, 15, 15, 1);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hide{
    display: none;
}